@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --color-ink: #20201e;
  --text-body: 13px;
  --text-body--line-height: 20px;
}

@layer base {
  body {
    font-size: var(--text-body);
    line-height: var(--text-body--line-height);
    color: var(--color-ink);
  }
}
